<?xml version='1.0' encoding='utf-8'?>
<widget id="uk.co.thephonedoctor" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>The Phone Doctor</name>
    <description>
        UK based mobile phone repair specialist
    </description>
    <author email="thephonedoctor4@googlemail.com" href="http://thephonedoctor.co.uk">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <access origin="*" />
	
	<!-- all platforms -->
  <preference name="orientation" value="portrait" />
  <preference name="fullscreen" value="false" />
</widget>
